@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AWorld</h1>
    <p>Convert your climate actions from the <a href="https://aworld.org/">AWORLD platform</a> into WOM&nbsp;vouchers.</p>

    <form method="post">
        <div class="form-group">
            <label>
                Insert your profile code:<br />
                <input type="text" size="60" class="form-control" />
            </label>
        </div>

        <button type="submit" value="Redeem vouchers" class="btn btn-primary">Redeem</button>
    </form>
</div>
