@page "/"
@model WomAWorldIntegration.Pages.IndexModel
@{
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1 class="display-4">WOM for AWorld</h1>

            <p class="lead">
                Convert your climate actions tracked by the <a href="https://aworld.org/">AWorld&nbsp;platform</a> into WOM&nbsp;vouchers.
            </p>

            <form method="post" id="formRedeem">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label>
                        Your <a href="#" class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Your username is written below your full name on the app’s Profile page.">Username</a>:<br />
                        <input type="text" asp-for="UserInfo.Username" size="60" class="form-control" />
                        <span asp-validation-for="UserInfo.Username"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Your <a href="#" class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Access the app’s settings → Privacy Agreement → Copy User Identifier.">User Identifier</a>:<br />
                        <input type="text" asp-for="UserInfo.Secret" size="60" class="form-control" />
                        <span asp-validation-for="UserInfo.Secret"></span>
                    </label>
                </div>

                @if (Model.Error != null || !Model.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert">
                        @(Model.Error ?? "One or more input fields are invalid.")
                    </div>
                }

                <p class="text-align">
                    <button type="submit" value="Redeem vouchers" class="btn btn-primary" id="btnRedeem">Redeem your vouchers</button>
                </p>
            </form>
        </div>
    </div>
</div>

<script>
function killButton() {
  document.querySelector('#btnRedeem').disabled = true;
}

document.querySelector('#formRedeem').addEventListener('submit', function(ev) {
    killButton();
});

document.querySelector('#btnRedeem').addEventListener('click', function(ev) {
    killButton();
});
</script>
